<head>
    <meta charset="UTF-8">
    <link rel="icon" href="../assets/favicon.ico">
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../assets/global.css">
    <link href="/build/toastr.min.css" rel="stylesheet" />
    <link href="//cdn.quilljs.com/1.0.0/quill.snow.css" rel="stylesheet">
    <script src="/js/bootstrap.min.js"></script>
    <script src="/dist/jquery.min.js"></script>
    <script src="/build/toastr.min.js"></script>
    <script src="//cdn.quilljs.com/1.0.0/quill.js"></script>
    <script src="./client-dist/socket.io.js" defer></script>
    <script src="./components/nav/nav.js" defer></script>
    <title>%%DOCUMENT_TITLE%%</title>
</head>
<body>
<nav class="navbar navbar-expand-sm">
        <a href="/" class="navbar-brand p-2">
            <img class="logo-image" src="../assets/logo.png" alt="logo">
        </a>
        <ul class="navbar-nav">
            <li class="nav-item p-2">
                <a href="/activities">Activities</a>
            </li>
            <li class="nav-item p-2">
                <a href="/contact">Contact</a>
            </li>
            <li class="nav-item p-2">
                <a href="/blog">Blog</a>
            </li>
        </ul>
        <ul class="navbar-nav ms-auto" id="adminNav">
            <li class="nav-item p-2">
                <a href="/login">Admin</a>
            </li>
        </ul>
</nav>
<main>
    <hr>