.logo-image {
    /*height: 50px;*/
}

main {
    min-height: calc(100vh - 200px);
}

#map {
    height: 400px;
    /* The height is 400 pixels */
    width: 100%;
    /* The width is the width of the web page */
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}